<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<!-- Product name as you want it to appear in Add/Remove Programs-->
	<?if $(var.Platform) = x64 ?>
		<?define ProductName = "Mouse Imp (64 bit)" ?>
		<?define Win64 = "yes" ?>
		<?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
	<?else ?>
		<?define ProductName = "Mouse Imp" ?>
		<?define Win64 = "no" ?>
		<?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
	<?endif ?>
	
	<Product 
		Id="981ee878-3853-4b83-8e25-450636cd07b0"
		Name="$(var.ProductName)"
		Language="1033"
		Version="7.0.0.4"
		Manufacturer="MouseImp Open Source Project"
		UpgradeCode="5e099d4f-b396-484d-98cb-bf6400cc4890">

		<Package InstallerVersion="200" Compressed="yes" />
		<Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

		<Icon Id="MImpCfg.ico" SourceFile="$(var.SolutionDir)\MImpCfg\res\MImpCfg.ico"/>
		<Property Id="ARPPRODUCTICON" Value="MImpCfg.ico" />
		<Property Id="ARPHELPLINK" Value="http://mouseimp.com" />

		<?define ProgramFiles=MIPro.dll;MIProHst.exe;MIProCfg.exe;MImpSrv.exe;MIProCpl.cpl?>


		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLLOCATION" Name="$(var.ProductName)">
					<?foreach FileName in $(var.ProgramFiles)?>
						<Component Id='$(var.FileName)'>
							<File Id='$(var.FileName)' Name='$(var.FileName)' DiskId='1' Source='$(var.SolutionDir)\..\Bin\Win32\$(var.Configuration)\$(var.FileName)' KeyPath='yes'/>
						</Component>
					<?endforeach?>
					<Component Id='mimpwnds.xml'>
						<File Id='mimpwnds.xml' Name='mimpwnds.xml' DiskId='1' Source='$(var.SolutionDir)\XML config sample\mimpwnds.xml' KeyPath='yes'/>
					</Component>

				</Directory>
			</Directory>

			<Directory Id="ProgramMenuFolder">
				<Directory Id="MouseImpGroup" Name="$(var.ProductName)">
					<Component Id='Shortcuts'>
						<Shortcut
							 Id='Configuration'
							 Name='Configuration'
							 Target="[INSTALLLOCATION]MIProCfg.exe"
							 WorkingDirectory="INSTALLLOCATION" />
						<Shortcut
							 Id='QuickTour'
							 Name='Quick Tour'
							 Target="[INSTALLLOCATION]MIProCfg.exe"
							 Arguments="/QuickTour"
							 WorkingDirectory="INSTALLLOCATION" />
						<Shortcut
							 Id='MIProHst'
							 Name='MouseImp PRO'
							 Target="[INSTALLLOCATION]MIProHst.exe"
							 WorkingDirectory="INSTALLLOCATION" />
						<RemoveFolder Id="MouseImpGroup" On="uninstall"/>
						<RegistryValue Root="HKCU" Key="Software\[ProductName]" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
					</Component>
				</Directory>
			</Directory>
		</Directory>

		<Feature Id="ProductFeature" Title="MImpSetup" Level="1">
			<?foreach FileName in $(var.ProgramFiles)?>
				<ComponentRef Id="$(var.FileName)" />
			<?endforeach?>
			<ComponentRef Id="mimpwnds.xml" />
			<ComponentRef Id="Shortcuts" />

			<!-- Note: The following ComponentGroupRef is required to pull in generated authoring from project references. -->
			<ComponentGroupRef Id="Product.Generated" />
		</Feature>
	</Product>
</Wix>
